@import '../../../node_modules/bootstrap-4-grid/css/grid.min.css';
@import 'variables.scss';
@import 'breakpoint.scss';
@import 'button.scss';
@import 'spinner.scss';

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
// @media #{$medium-and-up} {
//   .container {
//     width: 85%;
//   }
// }
// @media #{$large-and-up} {
//   .container {
//     width: 70%;
//   }
// }

body {
  background-color: $black-body;
  margin: 0;
  color: $grey-text;
  overflow-x: hidden;
  p, h4, span, li, a {
    font-family: 'Poppins Thin', Arial, Helvetica, sans-serif;
  }
  h1, h2, h3 {
    font-family: 'Poppins Medium', Arial, Helvetica, sans-serif;
  }
}

.m-t {
  @include breakpoint(smartphones) {
    margin-top: 200px;
  }
}

nav {
  @include breakpoint(smartphones) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $black-body;
    z-index: 3;
  }
}

.centered {
  text-align: center;
}

.small-text {
  font-size: 12px;
}

.clicked {
  top: -20px !important;
  transition-duration: .2s !important;
  font-size: 12px;
}

.no-spaces {
  margin: 0;
  padding: 0;
  padding-inline-start: 0 !important;
}

.menu-item-active {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    bottom: 10px;
    height: 1px;
    width: 90px !important;
    left: 0;
    background-color: $grey-text;
    transition-duration: .5s;
    @include breakpoint(smartphones) {
      bottom: 0px;
      left: 0;
      width: 100% !important;
    }
  }
}

.col-line-5 {
  @include breakpoint(minDesktop) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 19.6666666667%;
    flex: 0 0 19.666667%;
    max-width: 19.666667%;
  }
}