@import '../../../node_modules/bootstrap-4-grid/css/grid.min.css';
@import 'variables.scss';

body {
  background-color: $black-body;
  margin: 0;
}

.centered {
  text-align: center;
}

.menu-item-active {
  &::after {
    position: absolute;
    content: '';
    bottom: 10px;
    height: 1px;
    width: 90px !important;
    left: 0;
    background-color: $grey-text;
    transition-duration: .5s;
  }
}